*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card{
    padding: 20px;
    font-size: 20px;
    max-width: 300px;
    width: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    overflow: hidden;
}
img{
    width: 60%;
    height: 30%;
    border:4px solid black ;
    border-radius: 50%;
}

.btn{
    padding: 5px;
    background-color: lightblue;
    color: gray;
    cursor: pointer;
}

@media (max-width: 768px) {
    .card{
        max-width: 90%;
    }
}