<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full job details</title>
</head>
<body>
    <h1>Details about your {{job.title}} job </h1>
    <p>Position: {{job.title}}</p>
    <p>Company: {{job.company}}</p>
    <p>Job Location: {{job.location}}</p>
    <p>escription: {{job.description}}</p>
    <a href="{% url 'apply_job' job.id %}">Apply job</a>
    <a href="{% url 'job_list' %}">Back to job list</a>
</body>
</html>