.div {
    background: white;
    background-size: cover;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

.container{
    background: #fff;
    max-width: 70%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
}

